@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #fcfcf4;
  color: var(--color-foreground);
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,p,a {
  font-family:"Geometric415Lite","Geometric415Lite Fallback";
}